    <div class="card">
        <div class="card-body">
            <h1>{{postagens.titulo}}</h2>
            <p>{{postagens.conteudo}}</p>
            <hr>
            <small>{{postagens.data}}</small>
        </div>
    </div>
