{{#each postagens}}
<div class="card">
    <div class="card-body">
        <h3>Titulo: {{titulo}}</h4>
        <small>{{conteudo}}</small>
        <hr>
        <a href="/admin/lerpostagem/{{_id}}"><button class="btn btn-success">Ler mais</button></a>
    </div>
</div>
<br><br>
{{else}}
    <h5>Nenhuma postagem cadastrada nessa categoria</h5>
{{/each}} 